{% load static %}

<div class="answer-container">
  <div class="profile-info">
    <a class="avatar-container">
      <img class="avatar" src="{{ answer.author.avatar.url }}" />
    </a>
    <div class="reaction-container-answer" answer-id="{{answer.id}}">
      <button class="like-button">
        {% if answer.id in answer_like_reactions %}
          <img src="{% static 'svg/like_clicked.svg' %}" alt="like">
        {% else %}
          <img src="{% static 'svg/like.svg' %}" alt="like">
        {% endif %}
      </button>
      <div class="like-count">{{ answer.rating }}</div>
      <button class="dislike-button">
        {% if answer.id in answer_dislike_reactions %}
          <img src="{% static 'svg/dislike_clicked.svg' %}" alt="dislike">
        {% else %}
          <img src="{% static 'svg/dislike.svg' %}" alt="dislike">
        {% endif %}
      </button>
    </div>
  </div>
  <div class="answer-body">
    <div class="answer-description">
      {{answer.text}}
    </div>
    <div class="answer-action">
      {% if current_user.id == question.author.id %}
          
          <label class="form-check-label right-answer-check px-1" for="flexCheckIndeterminateDisabled">
              {% if answer.is_correct == True %} Correct! {% else %} Correct? {% endif %}
          </label>
          <input class="form-check-input ps-1" type="checkbox" value="" id="flexCheckDefault"
                  {% if answer.is_correct == True %} checked {% endif %}>
      {% else %}
          {% if answer.is_correct == True %}
              <label class="form-check-label right-answer-check px-1" for="flexCheckIndeterminateDisabled" style="color: #10a500;">
                  Correct!
              </label>
              <input class="form-check-input ps-1" type="checkbox" value="" id="flexCheckDefault" checked
                     disabled style="display: none;">
          {% endif %}
      {% endif %}
    </div>
  </div>
</div>