{% load static %}

<div class="answer-container">
  <div class="profile-info">
    <a class="avatar-container">
      <img class="avatar" src="{{ answer.author.avatar.url }}" />
    </a>
    <div class="reaction-container-answer" answer-id="{{answer.id}}">
      <button class="like-button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24px"
          height="24px"
          viewBox="0 0 24 24"
          fill="#0a58ca"
        >
          <path
            d="M12 6V18M12 6L7 11M12 6L17 11"
            stroke="{% if answer.id in answer_like_reactions %} #28f300 {% else %} #000000 {% endif %}"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
      <div class="like-count">{{ answer.rating }}</div>
      <button class="dislike-button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24px"
          height="24px"
          viewBox="0 0 24 24"
        >
          <path
            d="M12 6V18M12 18L7 13M12 18L17 13"
            stroke="{% if answer.id in answer_dislike_reactions %} #cf0000 {% else %} #000000 {% endif %}"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
  </div>
  <div class="answer-body">
    <div class="answer-description">
      {{answer.text}}
    </div>
    <div class="answer-action">
      {% if current_user.id == question.author.id %}
          
          <label class="form-check-label right-answer-check px-1" for="flexCheckIndeterminateDisabled">
              {% if answer.is_correct == True %} Correct! {% else %} Correct? {% endif %}
          </label>
          <input class="form-check-input ps-1" type="checkbox" value="" id="flexCheckDefault"
                  {% if answer.is_correct == True %} checked {% endif %}>
      {% else %}
          {% if answer.is_correct == True %}
              <label class="form-check-label right-answer-check px-1" for="flexCheckIndeterminateDisabled" style="color: #10a500;">
                  Correct!
              </label>
              <input class="form-check-input ps-1" type="checkbox" value="" id="flexCheckDefault" checked
                     disabled style="display: none;">
          {% endif %}
      {% endif %}
    </div>
  </div>
</div>