<nav class="navigation">
  {% if questions.has_other_pages %}
  <ul class="pagination">
    {% if questions.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?tab={{ request.GET.tab }}&page={{ questions.previous_page_number }}">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %} 
    {% for i in questions.paginator.page_range %} 
    {% if questions.number == i %}
    <li class="page-item active"><a class="page-link" href="?tab={{ request.GET.tab }}">{{i}}</a></li>
    {%else%}
    <li class="page-item">
      <a class="page-link" href="?tab={{ request.GET.tab }}&page={{ i }}">{{i}}</a>
    </li>
    {%endif%} 
    {%endfor%} 
    {% if questions.has_next %}
    <li class="page-item">
      <a class="page-link" href="?tab={{ request.GET.tab }}&page={{ questions.next_page_number }}">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {%endif%}
  </ul>
  {% endif %}
</nav>
