{% extends "common/base.html" %}

{% block content%}
<div class="login">
  <h2 class="title">Login</h2>
  <p class="text-danger">Sorry, this password is not correct!</p>
  <form class="col-sm-6">
    <div class="mb-3">
      <label for="inputLogin" class="form-label">Login</label>
      <input
        type="text"
        class="form-control"
        id="inputLogin"
        placeholder="email or nickname"
      />
    </div>
    <div class="mb-3">
      <label for="inputPassword" class="form-label"
        >Password</label
      >
      <input
        type="password"
        class="form-control"
        id="inputPassword"
        placeholder="*****"
      />
    </div>
    <button type="submit" class="button">Login</button>
    <div class="hint">
      Don't have an account? <a href="/signup">Create new account</a>
    </div>
  </form>
</div>
{%endblock content%} 