{% extends "common/base.html" %}
{% load django_bootstrap5 %}

{% block content%}
<div class="login">
  <h2 class="title">Login</h2>
  <form method="post" action="{% url 'login' %}" novalidate>
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="hidden" name="continue" value="{{ request.GET.continue }}" />
    <button type="submit" class="button" style="width: 100px;">Login</button>
    <div class="hint">
      Don't have an account? <a href="/signup">Create new account</a>
    </div>
  </form>
</div>
{%endblock content%} 