{% extends "common/base.html" %} 
{% load django_bootstrap5 %}
{% block content %}
{%load static%}
<div class="open-question-container">
  <div class="profile-info">
    <a class="avatar-container author-avatar">
      <img class="avatar" src="{{ question.author.avatar.url }}" />
    </a>
    <div class="reaction-container-question" question-id="{{question.id}}">
      <button class="like-button">
        {% if question.id in question_like_reactions %}
          <img src="{% static 'svg/like_clicked.svg' %}" alt="like">
        {% else %}
          <img src="{% static 'svg/like.svg' %}" alt="like">
        {% endif %}
      </button>
      <div class="like-count">{{question.rating}}</div>
      <button class="dislike-button">
        {% if question.id in question_dislike_reactions %}
          <img src="{% static 'svg/dislike_clicked.svg' %}" alt="like">
        {% else %}
          <img src="{% static 'svg/dislike.svg' %}" alt="like">
        {% endif %}
      </button>
    </div>
  </div>
  <div class="question-body">
    <a class="question-title"> {{question.title}} </a>
    <div>
      {{question.text}}
    </div>
    <div class="answer-action">
      <div class="answer-tags">
        <div class="answer-tags-title">Tags: &nbsp;</div>
        <div class="answer-tags-list">
          {% for tag in question.tag.all %}
            <a href="{% url "tag" tag.name %}" class="question-tag">{{ tag.name }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% if answers %}
<div class="answers-list">
  {% for answer in answers %}
    {% include "common/answerItem.html" %}
  {% endfor %}
</div>
{% include "common/pagination.html" with questions=answers %}
{% endif %}

{% if current_user.user.username %}
<div class="ask-form">
  <form rows="6" action="{% url 'question' question_id=question.id %}" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <div class="NewAnswer mt-3 mb-3">
          <button class="btn btn-primary" type="submit">Answer</button>
      </div>
  </form>
</div>
{% endif %}

{% endblock content %}
