{% extends "common/base.html" %} 
{% load django_bootstrap5 %}
{% block content %}
{%load static%}
<div class="open-question-container">
  <div class="profile-info">
    <a class="avatar-container author-avatar">
      <img class="avatar" src="{{ question.author.avatar.url }}" />
    </a>
    <div class="reaction-container-question" question-id="{{question.id}}">
      <button class="like-button">
        <svg
          class="like-button"
          xmlns="http://www.w3.org/2000/svg"
          width="24px"
          height="24px"
          viewBox="0 0 24 24"
          fill="#0a58ca"
        >
          <path
            d="M12 6V18M12 6L7 11M12 6L17 11"
            stroke="{% if question.id in question_like_reactions %} #28f300 {% else %} #000000 {% endif %}"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
      <div class="like-count">{{question.rating}}</div>
      <button class="dislike-button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24px"
          height="24px"
          viewBox="0 0 24 24"
        >
          <path
            d="M12 6V18M12 18L7 13M12 18L17 13"
            stroke="{% if question.id in question_dislike_reactions %} #cf0000 {% else %} #000000 {% endif %}"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
  </div>
  <div class="question-body">
    <a class="question-title"> {{question.title}} </a>
    <div>
      {{question.text}}
    </div>
    <div class="answer-action">
      <div class="answer-tags">
        <div class="answer-tags-title">Tags: &nbsp;</div>
        <div class="answer-tags-list">
          {% for tag in question.tag.all %}
            <a href="{% url "tag" tag.name %}" class="question-tag">{{ tag.name }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% if answers %}
<div class="answers-list">
  {% for answer in answers %}
    {% include "common/answerItem.html" %}
  {% endfor %}
</div>
{% include "common/pagination.html" with questions=answers %}
{% endif %}

{% if current_user.user.username %}
<div class="ask-form">
  <form rows="6" action="{% url 'question' question_id=question.id %}" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <div class="NewAnswer mt-3 mb-3">
          <button class="btn btn-primary" type="submit">Answer</button>
      </div>
  </form>
</div>
{% endif %}

{% endblock content %}
