{%extends "common/base.html"%}

{% block content %}
<h2 class="title">Signup</h2>
<p class="text-danger">Sorry, this email address already registered!</p>
<form class="col-sm-6">
  <div class="mb-3">
    <label for="inputLogin" class="form-label">Login</label>
    <input
      type="text"
      class="form-control"
      id="inputLogin"
      placeholder="User"
    />
  </div>
  <div class="mb-3">
    <label for="inputEmail" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="inputEmail"
      placeholder="name@example.org"
    />
  </div>
  <div class="mb-3">
    <label for="inputPassword" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword" />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label"
      >Repeat password</label
    >
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
    />
  </div>
  <div class="mb-3">
    <label for="inputFile" class="col-form-label">Upload Avatar</label>
    <input type="file" class="file-input" id="inputFile" />
    <div class="invalid-feedback">Invalid file feedback</div>
  </div>
  <button type="submit" class="button">Register</button>
</form>
{% endblock content %}